@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.linkCard{
  box-shadow: 1px 1px 2px rgb(192, 192, 192), -1px -1px 2px rgb(192, 192, 192), 1px -1px 2px rgb(192, 192, 192), -1px 1px 2px rgb(192, 192, 192);
}
.clubPicture{
   max-width: 10rem;
}
.userPicture{
  width: 4rem;
}
.cardMin{
  min-width: 30rem;
}
.wrap{
  flex-wrap: wrap;
  align-items: stretch;
}
[data-theme="black"] h2{
  color: rgb(230, 230, 230)
}
[data-theme="black"] h1{
  color: rgb(230, 230, 230)
}
[data-theme="black"] p{
  color: rgb(168, 168, 168)
}

.thirtyPercent{
  width: 30%;
}